.todo {
        margin: 0.5rem;
        background: white;
        font-size: 1.5rem;
        color: black;
        display: flex;
        border-radius: 5px;
        transition: all 1s ease;
      }
      
.todo{
    display: flex;
    flex-direction: column;
    padding: 5px;

      }
li{
    list-style: none;
    font-size: 1rem;
}
.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 1s ease;
}
.complete-btn {
    background: rgb(11, 212, 162);
  }

.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

@media all and (max-width: 500px){
    .todo{
        border: 2px solid #999;
    }
    

}