*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  margin-top: 5rem;
}
.App header{
  margin-bottom: 3rem;
}
.subtitle{
  margin: auto;
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}